@charset "UTF-8";
/*EM HTML é ID = # em CCS
Tudo que for class em HTML é = . em CSS*/

body{
    background-image: linear-gradient(to top,#BFBFBF,#127369);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #10403B;

}
#principal{ /*(#)identificador*/
    text-align: center;
    background-color: #BFBFBF ;
}
h2{
    color: #c9ece9;
}
/*Vamos aprender a identificar titulos com o parâmetro (id=")adicionado na tag de abertura <h1>
/*Vamos agora entender as classes que podes usar dentro de alguma tag em HTML usando a tag(class)e em CSS(.)*/

.basico{
    color: #F2668B;
    font-weight: bolder;

}
.intermediario{
    color: #042940;

}
.avançado{
    color: #042940

}