@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
:root{
    --fonte1:verdana,geneva,tahoma,sans-serif;
    --fonte2:"Passion One",cursive;
    --fonte3:"Sriracha", cursive;
}
*{
    margin: 0px;
    padding:0px
    font-size:1em;
}
html,body{
    font-family: var(--fonte1);
    min-height: 100vh;
    background-color: darkgray;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header>h1{
    font-size: 10vw;
    font-family: var(--fonte2);
    padding-top:50px;
    font-variant: small-caps;
    /*text-transform: uppercase; jogar todas as letras pra maiuscula*/
}
header>p{
    padding-bottom: 50px;
}
header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
 header a:hover, footer a:hover {
    text-decoration: underline;
}
section{
    font-size: 4vw;
    font-family: var(--fonte3);
    padding-left: 30px;
    line-height: 2em;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
section>p{
    padding-bottom: 2em;
}
.normal{
    background-color: white;
    color: black;
}
.imagem{
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.29);
    background-color: rgb(62, 56, 56);
    color: white;
    background-attachment: fixed;
}
.imagem>p{
    display: inline-flex;
    background-color: rgba(0, 0, 0, 0.125);
    max-width: 700px;
    padding: 5px;
    text-shadow: 2px 2px 0px black;
}
#img01{
    background-image: url("imagens/background001.jpg");
    background-position: right center;
    background-size: cover;

}
#img02{
    background-image: url("imagens/background002.jpg");
    background-size: cover

}





footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px
}
